
/*TODO EN GENERAL*/
/*type para todos los textos que tengan la etiqueta h2*/
h2  {
	  text-align: center;
    }


h3  {
	  text-align: center;
    }
   
/*type para la clase titulo-Encabezado hecha para todos encabezados de las paginas*/	
.titulo-Encabezado {
				     text-align: center;
					 font-size: 15px;
	  			   }

/*type para la clase menu hecha para todos los nav de las paginas*/
.menu  {
	     text-align: center;
		 font-size: 17px;
	   }

/*pie de pagina para todas las paginas*/
footer  {
    	  position: relative;
		  background:black;
		  color:white;
		  clear:both;
		  padding: 2px 0px;
		  margin-top: 30%;
		}
		.copy  {
	   		    text-align: center;
              }

	   .pie   {
			    text-align: center;
			  }

			  
/*TODO BLOG.HTML */	  
/*type para la clase imagen hecha para las imagenes de blog.html*/
.imagen  {
	       display:block;
	       margin:auto;
         }


/*TODO MULTIMEDIA.HTML */
/*type para la clase link-Videos hecha para los videos de multimedia.html*/
.link-Videos  {
	            width: 400px;
	            margin: 10px auto;
			  }


/*TODO LOGUEO.HTML */
/*type para la clase login hecha para logueo.html*/
.login  {
	      width: 300px;
		  margin: 10px auto;
        }
        /*type para el id mensaje hecha para el texto Iniciar Sesión en AIK*/
	    #mensaje  {
		            text-align: center;
		            font-size: 20px;
	              }


/*TODO CONTACTO.HTML */
/*type para la clase contacto  hecha para el contenido dentro de la etiqueta section de contacto.html*/
.contacto {
		    text-align: center;
			font-size: 15px;
		  }
		  /*id correo hecha para el correo de la etiqueta section para el contenido*/
		  #correo  {
		  		     color:#B0C1E3;
		 		   }


/*TODO INICIO.HTML */
/*type para la clase cerrar hecha para cerrar sesión de inicio.html*/
.cerrar	{
  		  text-align: right;
		  font-size: 17px;
		  color: red;
	    }
	    /*type para la clase icon-cancel-squared hecha par el icono de cerrar sesión*/
		.icon-cancel-squared  {
							    color: #B0C1E3 ;
							  }
